::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    border: none;
}

li {
    list-style: none;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: ubuntu, sans-serif;
}
/*========
NAVIGATION
==========*/
header {
    background: rgb(233, 233, 233);
    /* position: fixed;
    width: 100%;
    left: 0;
    top: 0; */
}

.nav-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container >
.brand-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.nav-container >
.brand-container > img {
    display: block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-right: 0.3rem;
}

.nav-container >
.brand-container > .brand {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    color: rgb(0, 173, 116)
}

/* FOR MOBILE DEVICE */

@media screen and (max-width: 350px) {
    .nav-container >
    .brand-container > .brand {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .nav-items-wrapper {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 0;
        width: 100vw;
        overflow: hidden;
        white-space: nowrap;
    }

    /* js: classList.add() to expand navigation on mobile */
    .show-nav-items-wrapper {
        height: 100vh;
        background: rgb(100, 100, 100);
        overflow: auto;
        transition: height 0.15s linear;
    }

    .nav-container >
    .nav-items-wrapper >
    .nav-items > li > a {
        display: block;
        color: rgb(255, 255, 255);
        padding: 0.7rem 0;
        text-align: center;
    }

    .nav-container >
    .nav-items-wrapper >
    .nav-items > li:nth-child(2) {
        margin-top: 0.7rem;
    }

    @media(hover){
        .nav-container >
        .nav-items-wrapper >
        .nav-items > li > a:hover {
            background: rgb(0, 128, 0);
        }
    }

    .nav-buttons {
        padding: 1rem 0;
    }
    
    
    .nav-buttons > 
    #solid-bar{
        font-size: 1.5rem;
        /* background: orange; */
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .nav-container > 
    .nav-items-wrapper > 
    .nav-items >
    .solid-xmark-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        background: rgb(88, 88, 88);
        color: rgb(255, 255, 255);
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
    }
    
    .nav-container > 
    .nav-items-wrapper > 
    .nav-items > 
    .solid-xmark-container
    #solid-xmark {
        font-size: 1.5rem;
        color: rgb(236, 236, 236);
        padding: 0.7rem 1rem;
        cursor: pointer;
    }
}

@media screen and (min-width: 1000px) {
    
    .nav-container > 
    .nav-items-wrapper > 
    .nav-items >
    .solid-xmark-container {
        display: none;
    }

    .nav-items-wrapper >
    .nav-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .nav-container >
    .nav-items-wrapper >
    .nav-items > li > a {
        display: inline-block;
        padding: 2rem 1rem;
        color: rgb(41, 41, 41);
        letter-spacing: 0.05rem;
        border: none;
    }
    
    
    .nav-items-wrapper >
    .nav-items > li:first-child > a {
        padding-left: 0;
    }
    
    .nav-items-wrapper >
    .nav-items > li:last-child > a {
        padding-right: 0;
    }
    
    .nav-buttons {
        display: none;
    }
}

/*========
INDEX.HTML
==========*/
.content-container {
    width: 90%;
    margin: 0 auto;
}

/*=======
HOME.HTML
=========*/
.home-container {
    padding: 2rem 0;
    /* padding-top: 7rem; */
    padding-bottom: 3rem;
}

.home-container > .h1-header {
    padding: 1rem 0;
}

.home-container >
.posts-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.home-container >
.posts-container >
.post-wrapper {
    padding: 1rem;
    border-radius: 15px;
    background: rgb(151, 214, 151);
}

.home-container >
.posts-container >
.post-wrapper >
.title {
    padding-bottom: 0.5rem;
    letter-spacing: 0.05rem;
}

.home-container >
.posts-container >
.post-wrapper > 
.content {
    letter-spacing: 0.06rem;
    line-height: 1.5;
}

.home-container >
.posts-container >
.post-wrapper >
.see-detail-btn {
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    background: rgb(0, 148, 128);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 0.05rem;
}

@media screen and (min-width: 850px){
    .home-container >
    .posts-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1300px){
    .home-container >
    .posts-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*=========
POST DETAIL
===========*/
.post-detail-container {
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.post-detail-container > h1 {
    padding: 1rem 0;
}

.post-detail-container >
.post-detail-wrapper {
    padding: 1rem;
    border-radius: 15px;
    background: rgb(151, 214, 151);
}

.post-detail-container >
.post-detail-wrapper > 
.title {
    padding-bottom: 0.5rem;
    letter-spacing: 0.05rem;
}

.post-detail-container >
.post-detail-wrapper > 
.content {
    letter-spacing: 0.06rem;
    line-height: 1.5;
}

.post-detail-container >
.post-detail-wrapper > 
.reply-btn {
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    background: rgb(0, 148, 128);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    letter-spacing: 0.05rem;
}

/*=========
POST REPLY
===========*/
.post-replied-container {
    padding: 2rem;
}

.post-replied-container >
.post-replied-wrapper {
    background: rgb(151, 214, 151);
    padding: 1rem;
    border-radius: 15px;
}

.post-replied-container >
.post-replied-wrapper >
.post-replied-title {
    padding-bottom: 0.5rem;
}

.post-replied-container >
.post-replied-wrapper >
.post-replied-content {
    letter-spacing: 0.06rem;
    line-height: 1.5;;
}

.post-replied-container >
form {
    background: rgb(193, 219, 164);
    border-radius: 15px;
    margin-top: 1rem; 
    padding: 1rem 1.5rem;
}

.post-replied-container > 
form > textarea {
    display: block;
    width: 100%;
    /* color: red; */
    font-size: 1rem;
    border: none;
    font-family: ubuntu;
    padding: 0.5rem;
    margin: 0.5rem 0;
    cursor: pointer;
    line-height: 1.4;
}

.post-replied-container >
form > button {
    letter-spacing: 0.06rem;
    padding: 1rem;
    background: green;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 1rem;
    margin-top: 0.5rem;
}
